.poke-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: .5rem;
}


@media screen and (max-width: 700px) {
    .poke-grid{
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    .poke-grid{
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
        
    }
}