.pokemon-img{
    width: 95%;
    height: 180px;
}
.pokemon-card{
    max-width: 20rem;
    padding: .4rem;
    transition: all .2s ease-in;
    border-radius: none !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important; 
}
.pokemon-card h4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    margin-top: .4rem;
    font-size: 2rem;
}
.pokemon-card button{
    width: 9rem;
    margin-inline: auto;
    background-color: #019875;
    color: #EFFFFB;
    font-size: 1.1rem;
    padding: .2rem;
    border: 1px solid #EFFFFB;
    border-radius: .2rem;

    
}
.pokemon-card:hover{
    background-color: #019875;
    color: #EFFFFB;
}

@media screen and (max-width: 500px) {
    .pokemon-card{
        margin-inline: auto;
        width: 20rem;
    }
}